
.background-div{
    background-color: black;
    min-height: 100vh;
    margin-top: 0;
    padding-top: 4vh;
}
.main-div{
    max-width: 960px;
    background-color: green; /*temp color*/

    padding-top: 25px;
}
.body{
    padding-bottom: 4vh;
}
.gorm-header{

}
#logout{
    /* look up flex, flexbox... */
}
#signinSpan{
    /* display: block; */
}



/* dark and light modes as a stretch goal */