
.background-div{
    background-color: black;
    min-height: 100vh;
    margin-top: 0;
    padding-top: 4vh;
}
.main-div{
    max-width: 960px;
    background-color: cadetblue;

    padding-top: 25px;
    /* padding-left: 0px; */
    /* padding-right: 0px; */
}
#body{
    padding-bottom: 4vh;
    background-color: teal; /*temp color*/
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.gorm-header{

}
#logout{
    /* look up flex, flexbox... */
}
#signinSpan{
    /* display: block; */
}
.button{
    /* position: relative; */
    /* float: right; */
    /* margin: 1vh 0vw 1vh 35vw; */
    margin-left: 5rem;
}
#loginDiv{

/* fix margins... */
    /* https://stackoverflow.com/questions/26204283/bootstrap-container-fluid-remove-margins-the-right-way-overflow */
}
.row{
    margin-left: 1vw;
    margin-right: 1vw;
    /* fixing the removal of paddin/margin form containers...
    ...might need to move to #loginDiv in the future...
    */
}
#warning{
    color: red;
}


/* dark and light modes as a stretch goal */

/* need to figure out how to remove margins on containers... 
specifically main-div, body, 
*/